
body{
    background-color: #D5E1EF;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#qr-img{
    border-radius: 10px;

}

.card{
    background-color: white;
    border-radius: 20px;
    max-width: 300px;
    box-shadow: 2px 2px 15px hsl(220, 15%, 55%);
}

.txt{
    color:#444E64;
    font-size: 17px;
}

.secondry-txt{
    color:#BABDC3;
    font-size: 13px;

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }